<section>
  <form [formGroup]="dataForm">
    <div class="country">
      <mat-form-field appearance="outline">
        <mat-label>Select Country</mat-label>
        <mat-select [formControl]="countrySelection" (selectionChange)="countrySelected()">
          <mat-option *ngFor="let country of countries" [value]="country">
            {{ country.country_name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <hr>
    <ng-container formArrayName="states">
      <ng-container *ngFor="let state of states().controls;let stateIndex=index">
        <ng-container formGroupName="{{stateIndex}}">
         <span>{{stateIndex+1}}</span> <div class="state">
            <div class="data" >
              <mat-form-field appearance="outline">
                <mat-label>Select State</mat-label>
                <mat-select formControlName="state_name" (selectionChange)="getDistrictList(stateIndex,$event)">
                  <mat-option *ngFor="let state of countrySelection?.value?.state_list" [value]="state.state_name">
                    {{ state.state_name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="add_button" *ngIf="stateIndex == stateLength">
              <button mat-raised-button (click)="addState()">Add More State</button>
            </div>

            <div class="remove_button" *ngIf="stateIndex >=0 " >
              <button mat-raised-button (click)="removeState(stateIndex)">Remove State</button>
            </div>
          </div>
          <ng-container formArrayName="districts">
            <ng-container *ngFor="let district of districtsAtStateIndex(stateIndex).controls;let districtIndex=index">
              <ng-container formGroupName="{{districtIndex}}">
                <div class="district">
                  <div class="data" style="margin-left:90px ;">
                    <mat-form-field appearance="outline">
                      <mat-label>Select District</mat-label>
                      <mat-select formControlName="district_name" (selectionChange)="districtSelection(stateIndex,districtIndex)">
                        <mat-option *ngFor="let district of currentDistricts.get(stateIndex) "
                          [value]="district.district_name">
                          {{ district?.district_name }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="add_button" *ngIf="districtIndex== districtsAtStateIndex(stateIndex).length-1">
                    <button mat-raised-button (click)="addDistrict(stateIndex)">Add More District</button>
                  </div>
                  <div class="remove_button" *ngIf="districtIndex >0" >
                    <button mat-raised-button (click)="removeDistrict(stateIndex,districtIndex)">Remove District</button>
                  </div>
                </div>
                <ng-container formArrayName="cities">
                  <ng-container
                    *ngFor="let city of cityOfStatesOfDistricts(stateIndex,districtIndex).controls;let cityIndex=index">
                    <ng-container formGroupName="{{cityIndex}}">
                      <div class="city">
                        <div class="data" style="margin-left:120px ;">
                          <mat-form-field appearance="outline">
                            <mat-label>Enter City</mat-label>
                            <input type="text" matInput placeholder="Enter City name" formControlName="city_name">
                          </mat-form-field>
                        </div>
                        <div class="add_button" *ngIf="cityIndex== cityOfStatesOfDistricts(stateIndex,districtIndex).length-1">
                          <button mat-raised-button (click)="addCity(stateIndex,districtIndex)">Add More City</button>
                        </div>
                        <div class="remove_button" *ngIf="cityIndex >0" >
                          <button mat-raised-button (click)="removeCity(stateIndex,districtIndex,cityIndex)">Remove City</button>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <hr>
      </ng-container>
    </ng-container>
  </form>
</section>
<div *ngIf="states().length>0" class="address" >

  <h1>Address :-------</h1>
  {{dataForm.value|json}}

</div>

